<div class="jumbotron">
    <h1 class="text-center">Alurapic</h1>
</div>
<p ng-show="mensagem.length" class="alert alert-info">{{mensagem}}</p>
<div class="row">
    <div class="col-md-12">
        <form action="">
            <div class="input-group">
                <span class="input-group-btn">
                    <a href="fotos/new" class="btn btn-primary">Cadastrar nova foto</a>
                </span>
                <input type="text" class="form-control" placeholder="Filtrar fotos" ng-model="filtro" ng-model-options="{debounce:500}" autofocus>
            </div>
        </form>
    </div>
</div>
<div class="row">
    <animal-panel class="col-md-2 fade-in" ng-repeat="foto in fotos | filter:filtro" titulo="{{foto.titulo}}">
        <animal-foto url="{{foto.url}}" titulo="{{foto.titulo}}"></animal-foto>
        <a href="fotos/edit/{{foto._id}}" class="btn btn-primary btn-block">Editar</a>
        <!-- <button ng-click="remove(foto)" class="btn-danger btn btn-block">Remover</button> -->
        <botao-danger action="remove(foto)" name="Remover"></botao-danger>
    </animal-panel>
    <titles></titles>
    <!-- fim do panel -->
</div>